$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Override material design default colors
$color-primary: 255, 211, 73 !default;
$color-primary-dark: 255, 211, 73 !default;
$color-accent: 255, 211, 73 !default;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/material-design-lite/src/material-design-lite.scss";
// endbower

$primary-header-color: #cccccc;
$logo-primary-color: #0068a6;
$logo-secondary-color: #ffd349;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

header{
  a.mdl-layout__tab {
    &:hover, &:focus {
      color: $logo-primary-color;
      text-decoration: none;
    }
  }

  img.logo {
    max-width: 300px;
  }
}

.mdl-layout__header {
  background-color: $primary-header-color;
}

.mdl-layout__tab-bar {
  height: auto;
  background-color: $primary-header-color;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

h1, h2 {
  background-color: $logo-primary-color;
  color: $logo-secondary-color;
  text-align: center;
}

table {
  margin: auto;
}